/* Fotografie en webdesign text */
.left-text1 {
  position: absolute;
  top: 30%;
  right: 0;
  font-size: 140px;
  color: #c6314f;
}
.left-text2 {
  position: absolute;
  top: 44%;
  right: 0;
  font-size: 120px;
  color: #c6314f;
}

.right-text1 {
  position: absolute;
  top: 30%;
  left: 0;
  font-size: 140px;
  color: #2b2d2c;
}
.right-text2 {
  position: absolute;
  top: 44%;
  left: 0;
  font-size: 120px;
  color: #2b2d2c;
}

/* banner left */

.banner-homepage {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

/* logo */

.logo {
  position: absolute;
  width: 25%;
  top: 12%;

}

.logo-pos{
  transform: scale3d(1.5, 1.5, 1.5) translate3d(50px, -50px, 0);
}
/* homepage image cover */

.homepage-cover {
  background-image: url('/img/banners/homepage.jpg');
  background-position: center;
  background-size: cover;
}

/* nav hamburger menu button */

#nav-icon {
  z-index: 2;
  width: 60px;
  height: 45px;
  position: absolute;
  right: 2%;
  top: 2%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .20s ease-in-out;
  -moz-transition: .20s ease-in-out;
  -o-transition: .20s ease-in-out;
  transition: .20s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #2b2d2c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .60s ease-in-out;
  -moz-transition: .60s ease-in-out;
  -o-transition: .60s ease-in-out;
  transition: .60s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background: #c6314f;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  background: #c6314f;
}

/* menu */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 25%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    font-weight: bolder;
    padding: 8px;
    text-decoration: none;
    font-size: 42px;
    color: #c6314f;
    display: block;
    transition: 0.3s;
    white-space: nowrap;

}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
