/* left bar */

.left-bar {
  background-color: #2b2d2c;
}

.arrow1 {
  position: absolute;
  top: 30%;
  width: 60%;
  left: 20%;
}

.arrow2 {
  position: absolute;
  top: 50%;
  transform: rotate(180deg);
  width: 60%;
  left: 20%;
}



/* projects */

.space {
  height: 200px;
}
