/* left bar */

.left-banner {
  background-color: #2b2d2c;
}

/* navbar */

.logo {
  width: 8%;
}

.nav-bar a:hover {
  text-decoration: none;
}

.nav-bar a:active {
  text-decoration: none;
}

.nav-bar {
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
}

.nav-bar span {
  color: #030303;
  font-size: 40px;
}

.nav-bar a {
  color: #2b2d2c;
  font-size: 30px;
  text-decoration: none;
}

/* banner */

.left-banner {
  background-image: url('/img/banners/over.jpg');
  background-position: center;
  background-size: cover;
}

.yarno {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
  transform: scaleX(-1);
}

/* info text */

.top-text {
  position: absolute;
  top: 25%;
  font-size: 24px;
}

.left-text {
  position: absolute;
  top: 60%;
  font-size: 24px;
}
