/* left bar */

.left-bar {
  background-color: #2b2d2c;
}

.arrow1 {
  position: absolute;
  top: 30%;
  width: 60%;
  left: 20%;
}

.arrow2 {
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 60%;
  left: 20%;
}



/* Photo grid */

#gallery {
  margin: 0px auto;
  margin-top: 15%;
  margin-left: 24%;
}
